{{ define "main" }}
<main class="list-container">
    <div class="blog-list">
        {{ $child := index .Pages 0 }}
        {{ if gt (len $child.Pages) 0 }}
        <ul>
            {{ $paginator := .Paginate .Pages }}
            {{ range $paginator.Pages }}
            <li class="blog-entry">
                <div class="category-meta">
                    <div>
                        <h2 class="category-title">{{ .LinkTitle }}</h2>
                        <a class="rss-link" href="{{ .RelPermalink }}index.xml" title="RSS feed link" aria-label="RSS" ><i class="fa-solid fa-square-rss"></i></a>
                    </div>
                    <a class="category-link" href="{{ .RelPermalink }}"  title="{{ .LinkTitle }}" aria-label="{{ .LinkTitle }}" > More+</a>
                </div>
                <ul class="post-card-container">
                    {{ range first 3 .Pages }}
                    <li class="post-card">
                        <a href="{{ .RelPermalink }}"  title="{{ .LinkTitle }}" aria-label="{{ .LinkTitle }}" >
                            <img class="small-cover-img" src="{{ .RelPermalink }}{{ .Params.cover.small }}" alt="{{ .Params.cover.alt }}" />
                            <h3 class="title">{{ .LinkTitle  | truncate 40 "..." }}</h3>
                        </a>
                        <div class="publish-date">{{ .Date.Format "January 2006" }}</div>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <div class="category-meta">
            <div>
                <h2 class="category-title">{{ .LinkTitle }}</h2>
                <a class="rss-link" href="{{ .RelPermalink }}index.xml" title="RSS feed link" aria-label="RSS" ><i class="fa-solid fa-square-rss"></i></a>
            </div>
        </div>
        <ul class="post-card-container">
            {{ $paginator := .Paginate  .Pages  }}
            {{ range $paginator.Pages }}
            <li class="post-card">
                <a href="{{ .RelPermalink }}"  title="{{ .LinkTitle }}" aria-label="{{ .LinkTitle }}" >
                    <img class="small-cover-img" src="{{ .RelPermalink }}{{ .Params.cover.small }}" alt="{{ .Params.cover.alt }}" />
                    <h3 class="title">{{ .LinkTitle  | truncate 40 "..." }}</h3>
                </a>
                <div class="publish-date">{{ .Date.Format "January 2006" }}</div>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
