{{ define "main" }}
<main class="flex-1 mv-150">
    <div class="blog-list">
        <h2 class="blog-entry-title">{{ .Title }}</h2>
        <ul>
            {{ $paginator := .Paginate .Pages }}
            {{ range $paginator.Pages }}
            <li class="blog-entry">
                <a href="{{ .RelPermalink }}"  title="{{ .LinkTitle }}" aria-label="{{ .LinkTitle }}" >{{ .LinkTitle }}</a>
                <div class="publish-date">{{ .Date.Format "January 2006" }}</div>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}