@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/roboto/font.woff') format('woff');
    /* license at /fonts/roboto//LICENSE.txt */
}

::selection {
    color: #ec5f5f;

}

a {
    color: #3a88d7;
}

.h-100v {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.m-auto {
    margin: auto;
}

.mv-150 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.mv-230 {
    margin-top: 230px;
    margin-bottom: 230px;
}

.ms-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.col-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.highlight {
    font-size: 12px;
    overflow: auto;
    border-radius: 15px;
}

.highlight pre {
    border-radius: 5px;
}

.font-ubuntu {
    font-family: "ubuntu";
    font-size: 14px;
    line-height: 24px;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.body {
    max-width: 1150px;
}

.dark.body {
    background: #2a2d35;
    color: #dfdfdf;
}

.header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 14px;
}

.nav-item {
    display: inline;
    margin: 0 25px;
}

.nav-item a {
    text-decoration: none;
    list-style: none;
    color: rgba(51, 51, 51, 0.675);
}

.dark .nav-item a {
    color: rgba(255, 250, 250, 0.675);
}

.nav-item a.active {
    color: #333;
}

.dark .nav-item a.active {
    color: rgb(247, 239, 239);
}

.dark-mode {
    position: absolute;
    font-size: 14px;
    right: 0;
    margin-right: 20px;
}

.dark-mode .toggle {
    border-radius: 50%;
    line-height: 25px;
}

.sun {
    padding: 0 6px;
    background: #79797994;
    color: #fdfeff;
    display: none;
}

.dark .sun {
    display: block;
}

.moon {
    padding: 0 8px;
    background: #ececec;
    color: #696b6d;
    display: block;
}

.dark .moon {
    display: none;
}

.dark-mode .toggle:hover {
    cursor: pointer;
    color: #0066cc;
}

.avatar {
    border: 1px solid #2929333d;
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;
}

.intro {
    max-width: 750px;
    font-size: 18px;
    font-weight: normal;
    color: #000000d9;
}

.dark .intro {
    color: #dfdfdf;
}

.contacts {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item {
    color: #191e24c4;
    margin: 0 10px;
}

.dark .contact-item {
    color: #dfdfdf;
}

.contact-item:hover {
    color: #0066cc;
}

.footer {
    font-size: 12px;
    min-height: 22px;
    color: #000000d9;
}

.dark .footer {
    color: #dfdfdf;
}

.license {
    cursor: pointer;

}

.license:hover {
    color: #0066cc;
}

.popup {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}

.dark .overlay {
    background-color: #292b31;
}

.popup-container {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dark .popup-container {
    background-color: #292b31;
    box-shadow: 0 0 10px rgba(115, 115, 115, 0.27);
}

.popup-container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    font-size: 24px;
    color: #00000059;
    font-family: initial;
}

.dark .close-button {
    color: white;
}

.close-button:hover {
    color: #f00;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
    margin: 5px 0;
}

.cover-img {
    max-width: 100%;
    max-height: 510px;
}

.meta-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 11px;
    flex-wrap: wrap;
}

.meta-box a {
    padding: 0 5px;
}

.dark .meta-box {
    color: #dfdfdf;
}

blockquote {
    border-left: 5px solid #6d85a0;
    font-size: 16px;
    padding: 0 10px;
    background: #e5eaec75;
}

.dark blockquote {
    background: #585f66b8;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
}

.page-item {
    padding: 0 10px;
    border: 1px solid #919191;
    margin: 0 2px;
    border-radius: 5px;
}

.tags-container {
    display: flex;
    justify-content: end;
}

.tags {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.tag {
    border: 1px solid #666d7bf2;
    margin: 2px;
    border-radius: 5px;
    min-width: fit-content;
}

.tag a {
    color: #1d1e1fab;
    text-decoration: none;
    padding: 0 5px;
}

.dark .tag a {
    color: #ebfaffab;
}

.message-404 {
    font-size: 24px;
    color: #000;
    border: 1px solid #93939394;
    padding: 50px 70px;
}

.dark .message-404 {
    color: white;
    border-color: #a6a6a65c;
}

.blog-list ul {
    padding-left: 12px;
}

.blog-entry {
    font-size: 14px;
}

.blog-entry .publish-date {
    display: block;
    font-size: 12px;
    border: 1px solid #585b5c;
    padding: 0 5px;
    margin: 5px;
    border-radius: 5px;
    width: fit-content;
    line-height: 20px;
}

.blog-entry-title {
    font-size: 20px;
}

.article h2 {
    font-size: 16px;
}

blockquote {
    margin: 0;
    font-size: inherit;
}

.table-container{
    width: 100%;
    overflow: scroll;
}

.table-wrapper{
    --table-border-color: #d3d3d3;
    border: 1px solid var(--table-border-color);
    border-radius: 10px;
    padding: 10px;  
    width: fit-content;
    margin: 0 auto;
}

.dark .table-wrapper {
    --table-border-color: #9b9b9b;
}

.table-wrapper table {
    border-collapse: collapse;
}

.table-wrapper tr,  .table-wrapper th{
    border-bottom: 1px solid var(--table-border-color);
    white-space: nowrap;
}

.table-wrapper tr:last-child{
    border-bottom: none;
}

.table-wrapper td, .table-wrapper th{
    padding: 0px 5px;
}

code:not(.highlight code){
    background: #9aa0a626;
    padding: 1px 3px;
    border-radius: 5px;
    margin: 0 1px;
    color: #000000e8;
    border: 1px solid #acb2bb87;
}

.dark code:not(.highlight code){
    background: #5e759f3d;
    color: #f7f7f7;
    border: 1px solid #6a7d9b87;
}

@media screen and (min-width: 80rem) {
    .nav {
        font-size: 16px;
    }

    .nav-item {
        margin: 0 50px;
    }

    .dark-mode {
        font-size: 16px;
    }

    .dark-mode .toggle {
        line-height: revert;
    }

    .sun {
        padding: 0 8px;
    }

    .moon {
        padding: 0 11px;
    }

    .avatar{
        max-width: 150px;
        max-height: 150px;
    }
    .intro {
        font-size: 22px;
    }

    .footer {
        font-size: 15px;
        min-height: 35px;
    }

    .blog-list ul {
        padding-left: revert;
    }

    .blog-entry {
        font-size: 18px;
        padding: 5px 10px;
    }

    .blog-entry .publish-date {
        display: inline;
        font-size: 14px;
        padding: 5px 10px;
    }

    .blog-entry-title {
        font-size: 24px;
    }

    h1 {
        font-size: 40px;
        font-weight: bolder;
        margin: revert;
    }

    .font-ubuntu {
        font-size: 18px;
        line-height: 32px;
    }

    .meta-box {
        font-size: 15px;
    }

    .tags {
        font-size: 14px;
    }

    .article h2 {
        font-size: 27px;
    }

    .highlight {
        font-size: 16px;
    }

    blockquote {
        margin: 0 40px;
        font-size: 16px;
    }

    .table-wrapper td, .table-wrapper th{
        padding: 0px 15px;
    }

}