<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
    </head>
    <body class="body h-100v m-auto font-ubuntu dark" id="body">
        <div class="col-flex-container h-100">
            {{ partial "header.html" . }}
            <section class="flex-1 mv-150 ms-20">
                <img class="avatar" width="150" height="150" src="/{{ .Site.Params.author.avatar }}" alt="{{.Site.Params.author.name}}" title="{{.Site.Params.author.name}}">
                <h2 class="intro">{{.Site.Params.intro}}</h2>
                <div class="contacts">
                {{ range.Site.Params.author.contacts }}
                    <a class="contact-item" href="{{.link}}" title="{{ .name }} link" aria-label="{{ .name }}" ><i class="{{.icon}}"></i></a>
                {{ end }}
                </div>
            </section>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>